.con1 {
    display: flex;
    gap: 2rem;
    width: 72%;
    margin: 0 auto;
}
.con1-profile{
    height: 5rem;
}
.con1-profile-wrap{
    position: sticky;
    top: 10rem;
}
.con1-about-me{
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--black-800);
    margin-bottom: 3rem;
}
.con1-about-me>h2 {
    text-align: left;
    font-weight: var(--fw2);
    font-size: 2rem;
    margin: 3rem 0;
}

.con1-text-main {
    display: flex;
    flex-direction: column;
    
    gap: 3rem;
    padding: 3rem 0;
}

.text-contain-left {
    text-align: left;
    font-size: 3rem;
    font-weight: var(--fw2);
}

.text-contain-right {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-contain-right>h3 {
    font-weight: var(--fw2);
}

.con1-text-sub-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.con1-text-sub h4 {
    font-weight: var(--fw2);
    margin-bottom: 3rem;
}

.ex-bold {
    font-weight: var(--fw3);
}

.con1-card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 6rem ;
}

.con1-skill-card,
.con1-skill-card-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.con1-skill-card-top {
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--black-800);
}

.con1-skill-card-top>h4 {
    font-weight: var(--fw1);
}